.page-header {
    background-color: var(--color-primary);
    height: var(--height-header);
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .nav-tools {
        width: var(--width-aside);
        padding-left: 1rem;
        background-color: var(--color-primary);
        align-items: center;
        gap: 1rem;
        .logo {
            width: 90px;
            height: 20px;
            content: url("../svg/youtube.svg");
            
        }
        .burger {
            width: 2rem;
            height: 2rem;
            content: url("../svg/list.svg");
        }
        .burger-container {
            width: 40px;
            height: 40px;;
        }
        .burger-container:hover {
            background-color: lightgray;
            border-radius: 50%;
        }
    }
    .search-tools {
        background-color: var(--color-primary);
        height: 100%;
        .blank {
            display: block;
            width: 40px;
            height: 1px;
            &:has(+.search-container input:focus){
                display: none;
            }
        }

        .search-container {
        height: 40px;
        border: 1px solid grey;
        padding: 8px;
        padding-left: 1rem;
        border-radius: 20px 0 0 20px;
            .search-icon {
                display: none;
            }
            .search-icon:has(+ input:focus) {
                display: block;
                width: 16px;
                height: 16px;
                content: url("./../svg/search.svg");
                margin: 0 16px 0 8px;
            }
            input {
                display: block;
                width: 33vw;
                height: 26px;
                max-width: 515px;
                padding: 1px;
                font-size: 24px;
                border: none;

                &:focus{
                    outline: none;
                }
            }        
            
        }
        button {
            width: 64px;
            height: 40px;
            border: 1px solid grey;
            border-radius: 0 20px 20px 0;
            .search-button {
                width: 24px;
                height: 24px;
                content: url("./../svg/search.svg");
            }
        }
        
    }
    .user-tools {
        background-color: var(--color-primary);
        padding-right: 1rem;
        gap: 1rem;
        
        button.icon {
            border: none;
            background-color: var(--color-primary);
            height: 40px;
            width: 40px;
            div {
                width: 24px;
                height: 24px;
            }
            .camera {
                content: url("./../svg/camera.svg");
            }
            .bell {
                content: url("./../svg/bell.svg");
            }
            &:hover {
                background-color: lightgray;
                border-radius: 50%;
            }
        }
        
    }
}
