@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "./header.css";
@import "./main.css";
@import "./aside.css";
@import "./card.css";
:root {
    --color-primary: white;
    --color-secondary: black;
    --color-main: yellow;
    --height-header: 56px;
    --height-main: calc(100svh - var(--height-header));

    --width-aside: 240px;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.row {
    display: flex;
    flex-direction: row;
}
.page-main {
    min-height: var(--height-main);
    background-color: var(--color-main);
}
.main-aside {
    width: 15vw;
    background-color: var(--color-primary);
}
.green {
    background-color: green;
}
.big {
    font-size: xx-large;
}
.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-icon {
    width: 32px;
    height: 32px;
    background-color: lightcoral;
    border-radius: 50%;
    font-size: 24px;
}