@import "./header.css";
:root {
    --color-primary: white;
    --color-secondary: black;
    --color-main: yellow;
    --height-header: 56px;
    --height-main: calc(100svh - var(--height-header));

    --width-aside: 240px;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.row {
    display: flex;
    flex-direction: row;
}
.page-main {
    min-height: var(--height-main);
    background-color: var(--color-main);
}
.main-aside {
    width: 15vw;
    background-color: var(--color-primary);
}
.green {
    background-color: green;
}
.big {
    font-size: xx-large;
}
.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}